{erl_opts, [debug_info]}.
{overrides, [{override, merl,
              [{pre_hooks,
                [{"(linux|darwin|solaris)", compile, "make -C \"$REBAR_DEPS_DIR/merl\" all -W test"},
                 {"(freebsd|netbsd|openbsd)", compile, "gmake -C \"$REBAR_DEPS_DIR/merl\" all"},
                 {"win32", compile, "make -C \"%REBAR_DEPS_DIR%/merl\" all -W test"},
                 {eunit,
                  "erlc -I include/erlydtl_preparser.hrl -o test"
                  " test/erlydtl_extension_testparser.yrl"},
                 {"(linux|darwin|solaris)", eunit, "make -C \"$REBAR_DEPS_DIR/merl\" test"},
                 {"(freebsd|netbsd|openbsd)", eunit, "gmake -C \"$REBAR_DEPS_DIR/merl\" test"},
                 {"win32", eunit, "make -C \"%REBAR_DEPS_DIR%/merl\" test"}
                ]}]}]}.
{deps, [
        {webmachine, {git, "git://github.com/basho/webmachine.git"}},
        {erlydtl, {git, "git://github.com/evanmiller/erlydtl.git"}}
       ]}.
{relx, [{release, {web, "0.0.1"},
         [dispenser]},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]}.

